* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #222;
}

.container {
    width: 90%;
    max-width: 700px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

.description {
    color: #666;
    margin-bottom: 30px;
}

.search-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.search-form input {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 6px;
}

.search-form button {
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    background-color: #e3350d;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #b92a0a;
}

.error {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 20px;
    border: 4px solid #e3350d;
}

.pokemon-card {
    background-color: darkgray;
    border-radius: 12px;
    padding: 40px;
    border: 3px solid black;
}

.pokemon-card h2 {
    text-transform: capitalize;
    margin-bottom: 0;
}

.pokemon-number {
    color: white;
}

.pokemon-image {
    width: 220px;
    max-width: 100%;
}

.info {
    text-align: left;
    margin: 20px auto;
    max-width: 400px;
}

.stats {
    max-width: 400px;
    margin: auto;
}

.stat {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    text-transform: capitalize;
}

.stat-progress {
    width: 100%;
    height: 20px;
}

.stat-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 6px;
    font-size: 12px;
    color: #666;
    font-weight: bold;
}
.stat-labels span:nth-child(1) {
    color: red;
}

.stat-labels span:nth-child(2) {
    color: #f9d90a;
}

.stat-labels span:nth-child(3) {
    color: green;
}

@media (max-width: 600px) {
    .search-form {
        flex-direction: column;
    }

    .search-form input {
        max-width: none;
    }

    .search-form button {
        width: 100%;
    }
}